<h1>Welcome to Phil's Goal Tracker</h1>
<p>Welcome! Let's manage Phil's Life Goals</p>

<ul>
  <li><a href="/life_goals">Life Goals</a></li>
  <li><a href="/life_goals/new">Enter New Life Goal</a></li>
</ul>
